<div id="nav-container"></div>
<div id="content-wrapper">
	<div class="user-profile-container">
		<img src="<%= user.get('image_url') %>" class="profile-image">
		<div class="user-profile-text">
			<p>
				<strong>
				<a href="#u/<%= user.escape('username') %>">
					<%= user.escape(['name']) %>
				</a>
				</strong>
			</p>
			<p>
				<a href="<%= user.escape('twitter_url') %>">
					@<%= user.escape(['username']) %>
				</a>
			</p>
		</div>
	</div>
	<div id="user-posts-container"></div>
</div>		
	<!-- <form action="/tweet">
			<input type="hidden" name="authenticity_token"
		    value="form_authenticity_token ">
		  <input type="text" name="user[tweet_body]">
		  <input type="submit" value="Submit">
	</form> -->
