<div id="nav-container"></div>
<div id="content-wrapper">
	<div class="page-post-container">
		<h2 class="page-post">
			<%= post.get('post_title') %>
		</h2>
		<p class="page-post">
			<%= post.get('post_body') %>
		</p>
		<span class="page-post">
			<%= post.escape('creation_date') %> |  
			<a href="<%= post.escape('twitter_url') %>" target="_blank">
				View on Twitter
			</a>
			<% if(user === Bitter.users.currentUser()){ %>
				| <a href="javascript:void(0)" target="_blank" id="deletePostAction">
				Delete Post
			</a>
			<% } %>
		</span>
	</div>
	<div class="user-profile-container">
		<img src="<%= user.get('image_url') %>" class="profile-image">
		<div class="user-profile-text">
			<p>
				<strong>
				<a href="#u/<%= user.escape('username') %>">
					<%= user.escape(['name']) %>
				</a>
				</strong>
			</p>
			<p>
				<a href="<%= user.escape('twitter_url') %>">
					@<%= user.escape(['username']) %>
				</a>
			</p>
		</div>
	</div>
</div>