<div id="alerts-container"></div>
<main id="content-wrapper"></main>

<% if signed_in? %>
	<ul>
		<li><%= current_user.uid %></li>
		<li><%= current_user.name %></li>
		<li><%= current_user.username %></li>
		<li><%= current_user.token %></li>
		<li><%= current_user.secret %></li>
	</ul>

	<canvas id="canvas" width="440" height="220" style="display: none"></canvas>

	<!-- <form action="/tweet">
			<input type="hidden" name="authenticity_token"
		    value="<%= form_authenticity_token %>">
		  <input type="text" name="user[tweet_body]">
		  <input type="submit" value="Submit">
	</form> -->
	<label>Post Title
		<input type="text" id="post-title">
	</label>
	<label>Post Body
	<textarea id="post-body" maxlength="710"></textarea>
	</label>
	<a href="#" id="submit">Submit</a>




<script type="text/javascript">
	var canvas = $('#canvas');
	var ctx = canvas.get(0).getContext('2d');

	$('#post-body').keyup(function (e) {
	  e.preventDefault();
	  
	  var text = $('#post-body').val(),
      fontSize = 14,
      width = 440,
      lines = [],
      line = '',
      lineTest = '',
      words = text.split(' '),
      currentY = 0;
	  
	  ctx.font = fontSize + 'px Helvetica';
	  
	    
	  for (var i = 0, len = words.length; i < len; i++) {
	    lineTest = line + words[i] + ' ';
	    
	    // Check total width of line or last word
	    if (ctx.measureText(lineTest).width > width) {
	      // Calculate the new height
	      currentY = lines.length * (fontSize + 4) + fontSize;

	      // Record and reset the current line
	      lines.push({ text: line, height: currentY });
	      line = words[i] + ' ';
	    } else {
	      line = lineTest;
	    }
	  }
	  
	  // Catch last line in-case something is left over
	  if (line.length > 0) {
	    currentY = lines.length * (fontSize + 4) + fontSize;
	    lines.push({ text: line.trim(), height: currentY });
	  }
	  
	  // Visually output text
	  ctx.fillStyle = "white"
	  ctx.fillRect(0, 0, 440, 220);
	  for (var i = 0, len = lines.length; i < len; i++) {
	  	ctx.fillStyle = "rgb(41, 47, 51);"
	    ctx.fillText(lines[i].text, 0, lines[i].height);
	  }
	});
	function dataURLtoBlob(dataURL) {
    // Decode the dataURL    
		var binary = atob(dataURL.split(',')[1]);
    // Create 8-bit unsigned array
    var array = [];
    for(var i = 0; i < binary.length; i++) {
        array.push(binary.charCodeAt(i));
    }
    // Return our Blob object
    return new Blob([new Uint8Array(array)], {type: 'image/png'});
  }

	$('#submit').click(function(e){
		e.preventDefault();
		var canvas = $('#canvas')[0];
		var dataURL = canvas.toDataURL("image/png");
		// Get our file
	  var file = dataURLtoBlob(dataURL);
	  var postBody = $('#post-body').val();
	  var postTitle = $('#post-title').val();
	  // Create new form data
	  var fd = new FormData();
	  // Append our Canvas image file to the form data
	  fd.append("user[image_data]", file);
	  fd.append("user[post_title]", postTitle);
	  fd.append("user[post_body]", postBody);
	  // And send it
	  $.ajax({
	     url: "/tweet",
	     type: "POST",
	     data: fd,
	     processData: false,
	     contentType: false,
	  });
	});

	
</script>
<% else %>
	You are not logged in
<% end %>