<!DOCTYPE html>
<html>
<head>
  <title>Bitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
	<a href="<%= logout_path %>">Logout</a>
<% else %>
	<a href="/auth/twitter">Sign In</a>
<% end %>

<%= yield %>

</body>
</html>
