<!DOCTYPE html>
<html>
<head>
  <title>Bitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
		<% if current_user %>
			var currentUser = new Bitter.Models.User({ id: <%= current_user.id %> })
			Bitter.users.add(currentUser);
			currentUser.fetch();
		<% end %>
	</script>
<% if signed_in? %>
	<!-- <a href="<%# logout_path %>">Logout</a> -->
	<a href="javascript:void(0)" id="signOut">Log Out</a>
<% else %>
	<a href="/auth/twitter">Sign In</a>
<% end %>

<%= yield %>

</body>
</html>
