<!DOCTYPE html>
<html>
<head>
  <title>Bitter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
		<% if current_user %>
			var currentUser = Bitter.users.getOrFetch('<%= current_user.username %>')
		<% end %>
	</script>

	<%= yield %>

</body>
</html>
